# common directory names
classes/
target/
tmp/
node_modules/
node_links/
.bsp/

# common filenames
.DS_Store
npm-debug.log

# wildcards
*.tmp
*.swp
*.iml
*~
.#*
\#*

# IntelliJ IDEA
/.idea
/.idea_modules

# Eclipse
.classpath
.project
.cache
.settings
.worksheet

# other
/.ensime
/.ensime_lucene/
/build/
/engine-benchmarks.txt
/.projections.json
